<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>

<header>
    <h1>DVD Rental Site</h1>
    <h2></h2>
</header>

<body>
    <div style="width:auto;background-color:#808080">
    @if (Request.IsAuthenticated) {
    <strong>@Html.Encode(User.Identity.Name)</strong>
    @Html.ActionLink("Sign Out","Logout","User")
    }
    else { 
    @Html.ActionLink("Register","Registration","User")
    <span> | </span>    
    @Html.ActionLink("Log In","Login","User")        
    }




    </div>

    <div>
        @RenderBody()
    </div>
</body>
</html>
